body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
  text-decoration: none;
}
/* reset */
a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
/* скидаємо марджин заголовків та параграфів до «0»  */

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
} /*для видалення маркерів елементів списку, скидаємо марджин падінг та  до «0»*/

img {
  display: block;
  max-width: 100%;
  height: auto;
}

* {
  box-sizing: border-box;
}

button {
  border: none;
  /* cursor: pointer;*/
}

/* common */

.container {
  max-width: 320px;
  padding: 0 16px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  .mobile-button {
    display: none;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

/* Header */

.header-box {
  border-bottom: 1px solid #e7e9fc;
  box-shadow:
    0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 2px 1px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
}

.header-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-header {
  display: flex;
  align-items: center;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.nav-logo {
  padding: 16px 0;
  margin-right: 120px;
}
.logo-studio {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}
.mobile-button {
  padding: 0;
  border: none;
  background-color: transparent;
}

.button-menu {
  display: block;
  fill: #2f2f37;
}

/* Mobile menu */

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

.mobile-menu {
  list-style: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu-container {
  position: relative;
  padding-top: 72px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.mobile-menu-nav {
  margin-bottom: auto;
}

.nav-ul-mobile {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: start;
}
/*End Mobili menu*/

.nav-ul {
  display: none;
}

@media screen and (min-width: 768px) {
  .nav-ul {
    display: flex;
    align-items: center;
    gap: 40px;
  }
}

.nav-adress {
  display: none;
}

@media screen and (min-width: 768px) {
  .nav-adress {
    display: block;
  }
}

.nav-ul-link {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  transition:
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 2500ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #2e2f42;
}

.current {
  color: #404bbf;
}

.adress-ul {
  font-style: normal;
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin: 16px auto;
}

@media only screen and (min-width: 1158px) {
  .adress-ul {
    display: flex;
    flex-direction: row;
  }
}

.adress-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #4d5ae5;
}

@media screen and (min-width: 768px) {
  .adress-link {
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: 0.04em;
    color: #434455;
  }
  .adress-ul {
    gap: 12px;
  }
}

/* Hero*/

.hero {
  background-color: #2e2f42;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 100%;
  height: auto;
}

.hero-container {
  background-image:
    linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    image-set(
      url("../images/Hero/Office-mob@1x.jpg") 1x,
      url("../images/Hero/Office-mob@2x.jpg") 2x
    );
}

@media screen and (min-width: 768px) {
  .hero-container {
    background-image:
      linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      image-set(
        url("../images/Hero/Office-dsk@1x.jpg") 1x,
        url("../images/Hero/Office-dsk@2x.jpg") 2x
      );
  }
}

@media only screen and (min-width: 1158px) {
  .hero-container {
    max-width: 1440px;
    background-color: #2e2f42;
    padding: 188px 0;
    background-image:
      linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      image-set(
        url("../images/Hero/Office-pc@1x.jpg") 1x,
        url("../images/Hero/Office-pc@2x.jpg") 2x
      );
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
  }
}

.hero-tekst {
  max-width: 216px;
  margin: 0 auto 72px auto;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  padding-top: 72px;
}
@media screen and (min-width: 768px) {
  .hero-tekst {
    max-width: 496px;
    margin: 0 auto 36px auto;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
  }
}
.hero-button {
  border-radius: 4px;
  border: none;
  width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  margin-bottom: 72px;
}
.hero-button:hover {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #404bbf;
}

/*Direct*/

.directions-icon {
  display: none;
}

@media only screen and (min-width: 1158px) {
  .directions-icon {
    height: 112px;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    background-color: #f4f4fd;
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.directions {
  padding: 96px 0;
}

.directions-ul {
  display: flex;
  flex-direction: column;
  gap: 72px;
  background-color: #fff;
}

@media screen and (min-width: 768px) {
  .directions-ul {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: space-between;
  }
  .directions-li {
    width: calc((100% - 16px) / 2);
    margin-bottom: 72px;
    gap: 24px;
  }
  .directions-h {
    display: flex;
    align-items: start;
  }
}

@media only screen and (min-width: 1158px) {
  .directions-ul {
    flex-wrap: nowrap;
    gap: 24px;
  }
}

.directions-h {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

.directions-p {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/*Team*/

.team {
  padding: 96px 0;
  background: #f4f4fd;
}

.team-our {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}

.team-ul {
  display: flex;
  flex-direction: column;
  gap: 72px;
  padding: 0 12px;
}

@media screen and (min-width: 768px) {
  .team-ul {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
  }
  .team-ul-li {
    margin-bottom: 72px;
    width: 264px;
  }
}

.team-ul-li {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  border-radius: 0 0 4px 4px;
  box-shadow:
    0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
}

.team-div {
  padding: 32px 0;
}

.team-surname {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

.team-title {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
  margin-bottom: 8px;
}

.team-social {
  display: flex;
  gap: 24px;
  justify-content: space-between;
}

.team-social-link {
  display: flex;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  fill: #f4f4fd;
}

.team-social-color {
  width: 24px;
  height: 24px;
}

/* Our Portfolio*/

.portfolio {
  padding: 96px 0;
  background-color: #fff;
}

.portfolio-our {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}

.portfolio-ul {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.portfolio-li {
  box-shadow:
    0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

/* 
} */

.overlay {
  display: none;
}

.portfolio-div-name {
  padding: 32px 0 32px 16px;
}

.portfolio-li-pone {
  margin-bottom: 8px;
}

@media screen and (min-width: 768px) {
  .portfolio-ul {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
  }
  .portfolio-li {
    margin-bottom: 72px;
  }
}

@media only screen and (min-width: 1158px) {
  .portfolio-ul {
    gap: 48px 24px;
  }
  .portfolio-overlay {
    position: relative;
    overflow: hidden;
  }
  .overlay {
    display: flex;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    background-color: #3f51b5;
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms ease-in-out;
    padding: 40px 32px 164px;
  }
  .portfolio-li {
    width: calc((100% - 48px) / 3);
    margin-bottom: 0;
  }
  .portfolio-li:hover {
    .overlay {
      transform: translateY(0);
    }
  }
}

/* Footer */

.footer-page {
  padding: 97px 0;
  background-color: #2e2f42;
}

.footer-all {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.footer-logo {
  display: flex;
  justify-content: center;
  margin-bottom: 17.5px;
}

.footer-logo .logo-studio {
  color: #f4f4fd;
}

.footer-text {
  width: 288px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

.footer-social-h {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  text-align: center;
  margin-bottom: 16px;
}

.team-social-footer {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.subscripe-p {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  text-align: center;
  margin-bottom: 16px;
}

.footer-subscribe-input {
  width: 288px;
  height: 40px;
  background-color: #2e2f42;
  border-radius: 4px;
  padding-left: 12px;
  border: 1px solid #fff;
  color: #fff;
  margin-bottom: 16px;
}

.footer-subscribe-btn {
  border-radius: 4px;
  padding-block: 8px;
  padding-inline: 24px;
  margin: 0 auto;
  width: 165px;
  height: 40px;
  background-color: #4d5ae5;
  color: #fff;
  fill: #fff;
  display: flex;
  align-items: center;
  gap: 16px;
}

@media screen and (min-width: 768px) {
  .footer-all {
    flex-direction: row;
    gap: 0;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: baseline;
    padding-left: 108px;
    padding-right: 164px;
  }
  .footer-text {
    margin-bottom: 72px;
  }
  .footer-logo {
    justify-content: start;
  }
  .subscripe-p {
    display: flex;
    justify-content: start;
  }
  .footer-subscribe-input {
    width: 264px;
  }
  .footer-subscribe-form {
    display: flex;
    gap: 24px;
  }
  .footer-subscribe-btn {
    display: inline;
    margin-left: 24px;
  }
}

@media only screen and (min-width: 1158px) {
  .footer-page {
    padding: 100px 0;
  }
  .footer-all {
    flex-wrap: nowrap;
    padding-left: 15px;
    padding-right: 15px;
  }
}

/*Modal*/

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition:
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  box-shadow:
    0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background-color: #fcfcfc;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop:not(.is-open) .modal {
  transform: translate(-50%, -50%), scale(1.5);
}
.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  border-radius: 100%;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #e7e9fc;
  border-color: rgba(0, 0, 0, 0.1); */
}
.modal-close-btn:hover {
  background-color: #404bbf;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: none;
}
.modal-close-btn:hover .close-icon {
  fill: #f3f0f0;
}
.close-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #2e2f42;
}

.modal-p {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  padding: 72px 16px 16px;
}
.form-mod {
  padding: 0 16px;
}
.label-mod {
  display: block;
  margin-top: 8px;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.input-form {
  border: 1px solid #4d5ae5;
  border-radius: 4px;
  min-width: 256px;
  width: 100%;
  height: 40px;
  padding-left: 38px;
}
.modal-icons {
  position: absolute;
  left: 32px;
  transform: translateY(30%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #2e2f42;
}

.modal-icons:hover {
  fill: #4d5ae5;
}
.input-comment {
  min-height: 120px;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  padding-left: 16px;
  padding-bottom: 94px;
}
.div-terms {
  margin-top: 16px;
  margin-bottom: 24px;
}
.label-terms {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.privacy-policy {
  line-height: 1.33333;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}
.button-send {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  border-radius: 4px;
  width: 169px;
  height: 56px;
}
.button-send:hover,
.button-send:focus {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #404bbf;
}
.form-send-btn {
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
}

@media screen and (min-width: 768px) {
  .modal {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    max-width: 408px;
  }
}
