body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
  text-decoration: none;
}
/* reset */
a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
/* скидаємо марджин заголовків та параграфів до «0»  */

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
} /*для видалення маркерів елементів списку, скидаємо марджин падінг та  до «0»*/

img {
  display: block;
  max-width: 100%;
}

* {
  box-sizing: border-box;
}

button {
  border: 0;
}
/* common */

.container {
  max-width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}
/* Header */

.header-box {
  border-bottom: 1px solid #e7e9fc;
  box-shadow:
    0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 2px 1px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
}

.header-div {
  display: flex;
  align-items: center;
}

.nav-header {
  display: flex;
  align-items: center;
  margin-right: 149px;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.nav-logo {
  padding: 17.5px 0;
}
.logo-studio {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}
.mobile-button {
  background: #fff;
}

.nav-ul {
  display: none;
}

.nav-adress {
  display: none;
}

/* Hero*/

.hero {
  min-width: 320px;
  background-color: #4de54d;
  padding: 72px 0;
}
.hero-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.hero-tekst {
  max-width: 216px;
  margin: 0 auto 72px auto;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}
.hero-button {
  border-radius: 4px;
  border: none;
  width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
}
.hero-button:hover {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #404bbf;
}

/*Direct*/

.directions-icon {
  display: none;
}

.directions {
  padding: 96px 0;
}

.directions-ul {
  display: flex;
  flex-direction: column;
  gap: 72px;
  background-color: #fff;
}

.directions-h {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

.directions-p {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/*Team*/

.team {
  padding: 96px 0;
  background: #f4f4fd;
}

.team-our {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}

.team-ul {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.team-ul-li {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  border-radius: 0 0 4px 4px;
  box-shadow:
    0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
}

.team-div {
  padding: 32px 0;
}

.team-surname {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

.team-title {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
  margin-bottom: 8px;
}

.team-social {
  display: flex;
  gap: 24px;
}

.team-social-link {
  display: flex;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  fill: #f4f4fd;
}
